<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="born">Born</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="anaprasan">Annaprasan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="birthday">BirthDay</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </li>
  </ul>
</nav>
