<!-- <div style="margin: 5em;">
  <button (click)="login()" *ngif="!token">Login</button>
  <button (click)="logout()" *ngif="token">Logout</button>
</div> -->

<!-- mainimage.component.html -->
<app-mainimage></app-mainimage>
<!-- mainimage.component.html -->

<!-- nav.component.html -->
<app-nav></app-nav>
<!-- nav.component.html -->

<!--router.outlet -->
<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>
<!-- router.outlet -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
